<zb-layout>
  <h2 zbLayoutTitle>Grupos</h2>
  <button (click)="openDialog()" zbLayoutBtn zbButton size="sm">CREAR GRUPO</button>
  <section zbLayoutBody class="group-container">
    <div class="group-container__main">
      <div class="group-container__list">
        <group-list [groups]="groups"
                    (searchSubjects)="getSubjects($event)"
                    (updateSubjects)="onUpdateSubjects($event)"
                    [teachers]="teachers">
        </group-list>
        <div class="group-container__pagination">
          <zb-pagination [pagination]="pagination"></zb-pagination>
        </div>
      </div>
    </div>
  </section>
</zb-layout>
