<zb-layout>
  <h2 zbLayoutTitle>Gestionar horario</h2>
  <button zbLayoutBtn zbButton size="sm" variant="outline" (click)="goBackGroups()">Regresar</button>
  <button zbLayoutBtn zbButton size="sm" variant="outline">Descargar</button>
  <button zbLayoutBtn zbButton size="sm">Publicar</button>
  <div zbLayoutBody class="layoutBody">
    <app-subjects-by-group (currentDetailSubject)="oncurrentDetailSubject($event)"
                           [subjects]="subjects"></app-subjects-by-group>
  </div>
</zb-layout>
