<app-section-container>
  <span title>Seleccionar asignatura*</span>
  <ng-container box>
    <app-table-item-select
      [subjects]="subjects"
      (currentDetailSubject)="CurrentDetailSubject($event)"
    ></app-table-item-select>
  </ng-container>
</app-section-container>
