.zb-dialog, .zb-dialog__body {
  align-items: normal;
}

.zb-form-field {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#groupsByJournals {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  .groups-journals{
    &__title {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}
