<div>
  <table class="table-container" appTableToggle (currentSubject)="onCurrentSubject($event)">
    <thead class="table-container-head">
    <tr>
      <th class="text-center" rowspan="2">Asignatura</th>
      <th class="text-center" colspan="2">Horas</th>
    </tr>
    <tr>
      <th class="text-center">Asignadas</th>
      <th class="text-center">Pendientes</th>
    </tr>
    </thead>
    <tbody class="table-container-body">
    <tr appTableToggleItem [subject]="subject" *ngFor="let subject of subjects">
      <td>{{ subject.subjectName }}</td>
      <td class="text-center">{{ subject.assignedHours }}</td>
      <td class="text-center">{{ subject.pendingHours }}</td>
    </tr>
    </tbody>
  </table>
</div>
