.table-container{
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
}

.table-container-head{
  background-color: rgba(120, 178, 240, 0.9);
  color: white;
}

.table-container-head th{
  padding: 0.5rem 0.3rem;
  border: 1px solid rgba(211, 211, 211, 0.9);
}

.table-container-body td + td{
  border-left: 1px solid rgba(211, 211, 211, 0.9);
}

.table-container-body td{
  padding: 0.5rem 0.3rem;
}

.table-container-body tr + tr {
  border-top: 1px solid rgba(211, 211, 211, 0.9);
}

.table-container td:hover{
  cursor: pointer;
}
.text-center {
  text-align: center;
}

.selected {
  background-color: #91D5F5;
  color: white;
}

